.logo {

  white-space: nowrap;
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &__text {
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 1;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
  }

  &__text-sub {
    font-size: 14px;
    color: #949494;
    margin: 0;
  }
}

.custom-nav {
  .navbar-nav {
    .nav-link {
      color: inherit;
      &:hover,
      &:focus {
        color: #11b89e;
      }
    }
    .nav-item {
      &.active {
        .nav-link {
          color: #11b89e;
        }
      }
    }
  }
}


.home-intro {
}

.intro-item {
  height: 698px;
  display: flex;

  &__body {
    background: #e5f0f7;
    max-width: 50%;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    background-image: url('../img/pattern-bg-left.png');
    background-repeat: no-repeat;
    background-position: left top;
  }

  &__caption {
    max-width: 565px;
    padding-right: 125px;
    margin-top: 80px;

    h2 {
      margin-bottom: 30px;
    }

    p {
      font-weight: 300;
      margin-bottom: 40px;
    }
  }

  &__img {
    max-width: 50%;
    flex-basis: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.section {
  padding: 30px 0;
}
.section-header {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}
.section-service {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 50px;
  padding-bottom: 55px;

  &:before {
    content: "";
    position: absolute;
    background: rgba(18, 86, 187, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.card-service {
  height: 100%;
  border: none;
  .card-body {
    display: flex;
    align-items: center;
    padding: 1.25rem 1.7rem;
    .card-icon {
      margin-right: 20px;
      fill: #1b66d6;
      width: 40px;
      height: 40px;
    }
    .card-title {
      margin: 0;
    }
  }
}

.section-team {
  background: #e5f0f7;
  padding-top: 105px;
  padding-bottom: 60px;
  background-image: url('../img/pattern-bg-right.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.section-team-text {
  margin-bottom: 90px;
}

.team-card {

  &__img {
    background: #a3bbe0;
    height: 310px;
    border-radius: 2px;
    margin-bottom: 15px;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: contain;
    }
  }
  &__body {
    h5 {
      color: #1b66d6;
    }
    p {
      color: #000;
      font-weight: 600;
    }
  }

  &:hover,
  &:focus {

    text-decoration: none;

    .team-card__img {
      background: #236bd7;
    }

    .team-card__body {
      h5 {
        color: #10a28b;
        text-decoration: underline;
      }
    }
  }
}

.section-gallery {
  padding-top: 90px;
  padding-bottom: 60px;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.album-card {

  color: inherit;

  &__img {
    border-radius: 2px;
    overflow: hidden;
  }

  &__body {
    padding: 1rem 0;
  }
}

.section-feedback {
  background: #1b66d6;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../img/section-feedback-lbg.png'), url('../img/section-feedback-rbg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}

.feedback-panel {
  background: #e5f0f7;
  border-radius: 4px;
  padding: 60px 95px;
  max-width: 748px;
  margin: auto;
  position: relative;
  height: 533px;
}

.feedback-panel-img {
  background-image: url('../img/form-img-01.png');
  height: 586px;
  width: 334px;
  position: absolute;
  right: -240px;
  bottom: 0;

}

.feedback-form {
  .form-control {
    background: transparent;
    color: #215bb2;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #488aed;
    padding-left: 0.3rem;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: #215bb2;
    }

  }
}

.page-content {
  &__header-line {
    background: #e5f0f7;
    padding: 20px 0;
    background-image: url(../img/pattern-bg-right.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-bottom: 30px;

    .page-heading {
      font-weight: 400;
    }

    .heading-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.breadcrumb {
  font-size: 14px;

  .breadcrumb-item {
    a {
      color: #739fbb;
    }

    &.active {
      text-decoration: underline;
    }
  }
}


.card-price {
  border-color: #afc6d5;
  margin-bottom: 20px;

  .card-header {
    border-color: #afc6d5;
    background-color: #fff;

    .card-title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
      text-align: center;
    }

    a {
      color: inherit;
      display: block;
    }
  }

  &__link {
    color: #1b66d6;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__list {

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .list-group {

      .list-group-item {
        padding: 0.45rem 0;
        font-size: 14px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-color: #afc6d5;
      }
    }
  }

  &__cost {
    font-weight: 600;
  }

  &--nested {
    margin-bottom: 0;

    .card-header {
      background-color: #e5f0f7;

      .card-title {
        font-size: 16px;
        text-transform: inherit;
        text-align: left;
      }
    }
  }
}
